<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fjcasasaltas.services"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="17" />

    <application
        android:name="com.fjcasasaltas.services.ServiceApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.fjcasasaltas.services.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.fjcasasaltas.services.ActualizacionService" />
        <service android:name="com.fjcasasaltas.services.ActualizacionBoundService" />
        <service android:name="com.fjcasasaltas.services.ActualizacionMsgService" />
        <service android:name="com.fjcasasaltas.services.AvisoService" />

        <receiver
            android:name="com.fjcasasaltas.services.BootUpReceiver"
            android:enabled="true"
            android:exported="false"
            android:label="BootUpReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
